# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [76]:
# Your code goes here
import pandas as pd
url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df_1 = pd.read_csv(url_1)
df_2 = pd.read_csv(url_2)
df_3 = pd.read_csv(url_3)

##### Option 1: first combine the three datasets and then apply the cleaning function to the new combined dataset

In [77]:
df_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [78]:
df_1.columns = df_1.columns.str.replace(" ","_")

In [79]:
df_1.rename(columns={'ST': 'State'}, inplace=True)

In [80]:
df_1.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [81]:
df_1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

In [82]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [83]:
df_2.columns = df_2.columns.str.replace(" ","_")

In [84]:
df_2.rename(columns={'ST': 'State'}, inplace=True)

In [85]:
df_2.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [86]:
df_2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Total_Claim_Amount', 'Policy_Type', 'Vehicle_Class'],
      dtype='object')

In [87]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [88]:
df_3.columns = df_3.columns.str.replace(" ","_")

In [89]:
df_3.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [90]:
df_3.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Education', 'Gender',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

##### Building concatenated DataFrame

In [91]:
df = pd.concat([df_1,df_2,df_3], axis=0)
df.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

In [92]:
df.columns = df.columns.str.lower()
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

##### Cleaning concatenated DataFrame

In [93]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
mapping = {
    'Male' : 'M',  # Replace 'Male' with 'M'
    'female': 'F',  # Replace 'female' with 'F'
    'Femal' : 'F',  # Replace 'Femal' with 'F'
}

# Replace values in the 'gender' column using the mapping dictionary
df['gender'] = df['gender'].replace(mapping)
df['gender']

0       NaN
1         F
2         F
3         M
4         M
       ...
7065      M
7066      F
7067      M
7068      M
7069      M
Name: gender, Length: 12074, dtype: object

In [94]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
mapping = {
    'AZ' : 'Arizona',  # Replace 'AZ' with 'Arizona'
    'Cali': 'California',  # Replace 'Cali' with 'California'
    'WA' : 'Washington',  # Replace 'AZ' with 'Arizona'
}

# Replace values in the 'state' column using the mapping dictionary
df['state'] = df['state'].replace(mapping)
df['state']

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
7065    California
7066    California
7067    California
7068    California
7069    California
Name: state, Length: 12074, dtype: object

In [95]:
# In education, "Bachelors" could be replaced by "Bachelor"
mapping = {
    'Bachelors' : 'Bachelor',  # Replace 'Bachelors' with 'Bachelor'
}

# Replace values in the 'Bachelors' column using the mapping dictionary
df['education'] = df['education'].replace(mapping)
df['education']

0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
7065                Bachelor
7066                 College
7067                Bachelor
7068                 College
7069                 College
Name: education, Length: 12074, dtype: object

In [96]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
mapping = {
    'Sports Car' : 'Luxury',  # Replace 'Sports Car' with 'Luxury'
    'Luxury SUV' : 'Luxury',  # Replace 'Luxury SUV' with 'Luxury'
    'Luxury Car' : 'Luxury',  # Replace 'Luxury Car' with 'Luxury' 
}

# Replace values in the 'vehicle_class' column using the mapping dictionary
df['vehicle_class'] = df['vehicle_class'].replace(mapping)
df['vehicle_class']

0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
7065    Four-Door Car
7066    Four-Door Car
7067    Four-Door Car
7068    Four-Door Car
7069     Two-Door Car
Name: vehicle_class, Length: 12074, dtype: object

In [97]:
# Cleaning the % in customer_lifetime_value
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%')

In [98]:
# Change customer_lifetime_value data type
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

In [99]:
# Number of open complaints has an incorrect format.
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.lstrip('1/')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.rstrip('/00')

In [100]:
# I need to replace blank row values for 0 in my df
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace('', 0)

In [104]:
# Change customer_lifetime_value data type
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(float)

In [105]:
# Correct the data types of these columns
df['customer'] = df['customer'].astype('category')
df['state'] = df['state'].astype('category')
df['gender'] = df['gender'].astype('category')
df['education'] = df['education'].astype('category')
df['policy_type'] = df['policy_type'].astype('category')
df['vehicle_class'] = df['vehicle_class'].astype('category')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   category
 1   state                      9137 non-null   category
 2   gender                     9015 non-null   category
 3   education                  9137 non-null   category
 4   customer_lifetime_value    2060 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  2067 non-null   float64
 8   policy_type                9137 non-null   category
 9   vehicle_class              9137 non-null   category
 10  total_claim_amount         9137 non-null   float64
dtypes: category(6), float64(5)
memory usage: 978.2 KB

In [113]:
# Identify any columns with null or missing values. 
df.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [114]:
# Drop the rows or columns with null values
df.dropna(axis=0, inplace=True)

In [115]:
# Deleting duplicates in the dataframe
df.duplicated().sum()

3

In [116]:
df.drop_duplicates()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75,63513.0,70.0,0.0,Personal Auto,Four-Door Car,185.667213
992,BS91566,Arizona,F,College,543121.91,58161.0,68.0,0.0,Corporate Auto,Four-Door Car,140.747286
993,IL40123,Nevada,F,College,568964.41,83640.0,70.0,0.0,Corporate Auto,Two-Door Car,471.050488
994,MY32149,California,F,Master,368672.38,0.0,96.0,0.0,Personal Auto,Two-Door Car,28.460568
995,SA91515,California,M,Bachelor,399258.39,0.0,111.0,0.0,Personal Auto,SUV,700.349052

In [118]:
round(df.describe(),2)

,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount
count,1940.00,1940.00,1940.00,1940.00,1940.00
mean,780191.71,39669.59,170.73,0.26,411.80
std,624002.72,30475.86,1249.90,0.86,286.13
min,200435.07,0.00,61.00,0.00,0.38
25%,399236.97,15101.25,68.00,0.00,244.51
50%,571943.72,36595.50,82.00,0.00,350.40
75%,885410.45,64468.75,108.00,0.00,524.13
max,4922143.07,99981.00,35354.00,5.00,2893.24

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [125]:
# Your code goes here
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_marketing_customer_analysis = pd.read_csv(url)
df_marketing_customer_analysis.columns
df_marketing_customer_analysis.to_csv('df_marketing_customer_analysis.csv', index=False)

In [120]:
# Correct the data types of these columns
df_marketing_customer_analysis['customer'] = df_marketing_customer_analysis['customer'].astype('category')
df_marketing_customer_analysis['state'] = df_marketing_customer_analysis['state'].astype('category')

df_marketing_customer_analysis['response'] = df_marketing_customer_analysis['response'].astype('category')
df_marketing_customer_analysis['coverage'] = df_marketing_customer_analysis['coverage'].astype('category')
df_marketing_customer_analysis['education'] = df_marketing_customer_analysis['education'].astype('category')

df_marketing_customer_analysis['effective_to_date'] = df_marketing_customer_analysis['effective_to_date'].astype('category')
df_marketing_customer_analysis['employmentstatus'] = df_marketing_customer_analysis['employmentstatus'].astype('category')
df_marketing_customer_analysis['gender'] = df_marketing_customer_analysis['gender'].astype('category')

df_marketing_customer_analysis['location_code'] = df_marketing_customer_analysis['location_code'].astype('category')
df_marketing_customer_analysis['marital_status'] = df_marketing_customer_analysis['marital_status'].astype('category')
df_marketing_customer_analysis['policy_type'] = df_marketing_customer_analysis['policy_type'].astype('category')
df_marketing_customer_analysis['policy'] = df_marketing_customer_analysis['policy'].astype('category')
df_marketing_customer_analysis['renew_offer_type'] = df_marketing_customer_analysis['renew_offer_type'].astype('category')
df_marketing_customer_analysis['sales_channel'] = df_marketing_customer_analysis['sales_channel'].astype('category')
df_marketing_customer_analysis['vehicle_class'] = df_marketing_customer_analysis['vehicle_class'].astype('category')
df_marketing_customer_analysis['vehicle_size'] = df_marketing_customer_analysis['vehicle_size'].astype('category')
df_marketing_customer_analysis['vehicle_type'] = df_marketing_customer_analysis['vehicle_type'].astype('category')

df_marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  category
 2   state                          10910 non-null  category
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  category
 5   coverage                       10910 non-null  category
 6   education                      10910 non-null  category
 7   effective_to_date              10910 non-null  category
 8   employmentstatus               10910 non-null  category
 9   gender                         10910 non-null  category
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  category
 12  marital_status                 10910 non-null  category
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  category
 19  policy                         10910 non-null  category
 20  renew_offer_type               10910 non-null  category
 21  sales_channel                  10910 non-null  category
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  category
 24  vehicle_size                   10910 non-null  category
 25  vehicle_type                   10910 non-null  category
 26  month                          10910 non-null  int64
dtypes: category(17), float64(4), int64(6)
memory usage: 1.3 MB

##### Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [10]:
df_marketing_customer_analysis.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [11]:
df_marketing_customer_analysis.duplicated().sum()

0

In [123]:
df_marketing_customer_analysis.to_csv('df_marketing_customer_analysis.csv', index=False)

In [48]:
# Pivot the DataFrame to see the GDP based on the country and year
pivot_df_income = df_marketing_customer_analysis.pivot_table(index='coverage', columns='sales_channel', values=['income'], aggfunc='sum')

In [49]:
pivot_df_income

                 income
sales_channel     Agent    Branch Call Center       Web
coverage
Basic          92850525  70147997    50821981  38299109
Extended       45480779  32468700    22868264  18215760
Premium        14158848  11158911     7364759   5685234

In [50]:
round(pivot_df_income.describe(),2)

                    income
sales_channel        Agent       Branch  Call Center          Web
count                 3.00         3.00         3.00         3.00
mean           50830050.67  37925202.67  27018334.67  20733367.67
std            39617622.82  29870690.20  22023847.32  16452050.69
min            14158848.00  11158911.00   7364759.00   5685234.00
25%            29819813.50  21813805.50  15116511.50  11950497.00
50%            45480779.00  32468700.00  22868264.00  18215760.00
75%            69165652.00  51308348.50  36845122.50  28257434.50
max            92850525.00  70147997.00  50821981.00  38299109.00

### Insights

##### Bigger incomes are found within Agent sell channel and the lowest income are through Web. Is important to recognize that deviations are higher through all channels.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [51]:
# Pivot the DataFrame to see the GDP based on the country and year
pivot_df_gender = df_marketing_customer_analysis.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='sum')

In [57]:
round(pivot_df_gender,2)

          customer_lifetime_value                           \
education                Bachelor      College      Doctor
gender
F                     13386258.11  12460107.91  1465701.78
M                     12110061.83  12851725.02  1490482.06


education High School or Below      Master
gender
F                  13793600.12  3874600.25
M                  12680914.19  3365559.06

In [54]:
round(pivot_df_gender.describe(),2)

          customer_lifetime_value                           \
education                Bachelor      College      Doctor
count                        2.00         2.00        2.00
mean                  12748159.97  12655916.46  1478091.92
std                     902407.04    276915.12    17522.30
min                   12110061.83  12460107.91  1465701.78
25%                   12429110.90  12558012.19  1471896.85
50%                   12748159.97  12655916.46  1478091.92
75%                   13067209.04  12753820.74  1484286.99
max                   13386258.11  12851725.02  1490482.06


education High School or Below      Master
count                     2.00        2.00
mean               13237257.15  3620079.65
std                  786787.77   359946.48
min                12680914.19  3365559.06
25%                12959085.67  3492819.35
50%                13237257.15  3620079.65
75%                13515428.64  3747339.95
max                13793600.12  3874600.25

### Insights

##### Most of female customer have better lifetime customer values

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here