# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [67]:
# Your code goes here
import pandas as pd
url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df_1 = pd.read_csv(url_1)
df_2 = pd.read_csv(url_2)
df_3 = pd.read_csv(url_3)

##### Option 1: first combine the three datasets and then apply the cleaning function to the new combined dataset

In [68]:
df_1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [70]:
df_1.columns = df_1.columns.str.replace(" ","_")

In [71]:
df_1.rename(columns={'ST': 'State'}, inplace=True)

In [72]:
df_1.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [73]:
df_1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

In [74]:
df_2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [75]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [76]:
df_2.columns = df_2.columns.str.replace(" ","_")

In [77]:
df_2.rename(columns={'ST': 'State'}, inplace=True)

In [78]:
df_2.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [79]:
df_2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Total_Claim_Amount', 'Policy_Type', 'Vehicle_Class'],
      dtype='object')

In [80]:
df_3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [81]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [82]:
df_3.columns = df_3.columns.str.replace(" ","_")

In [83]:
df_3.rename(columns={'GENDER': 'Gender'}, inplace=True)

In [84]:
df_3.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Education', 'Gender',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

##### Building concatenated DataFrame

In [113]:
df = pd.concat([df_1,df_2,df_3], axis=0)
df.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

In [114]:
df.columns = df.columns.str.lower()
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

##### Cleaning concatenated DataFrame

###### Changing columns names

In [115]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
state_mapping = {
    'Male' : 'M',  # Replace 'Male' with 'M'
    'female': 'F',  # Replace 'female' with 'F'
    'Femal' : 'F',  # Replace 'Femal' with 'F'
}

# Replace values in the 'gender' column using the mapping dictionary
df['gender'] = df['gender'].replace(state_mapping)
df['gender']

0       NaN
1         F
2         F
3         M
4         M
       ...
7065      M
7066      F
7067      M
7068      M
7069      M
Name: gender, Length: 12074, dtype: object

In [116]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
state_mapping = {
    'AZ' : 'Arizona',  # Replace 'AZ' with 'Arizona'
    'Cali': 'California',  # Replace 'Cali' with 'California'
    'WA' : 'Washington',  # Replace 'AZ' with 'Arizona'
}

# Replace values in the 'state' column using the mapping dictionary
df['state'] = df['state'].replace(state_mapping)
df['state']

0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
7065    California
7066    California
7067    California
7068    California
7069    California
Name: state, Length: 12074, dtype: object

In [117]:
# In education, "Bachelors" could be replaced by "Bachelor"
state_mapping = {
    'Bachelors' : 'Bachelor',  # Replace 'Bachelors' with 'Bachelor'
}

# Replace values in the 'Bachelors' column using the mapping dictionary
df['education'] = df['education'].replace(state_mapping)
df['education']

0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
7065                Bachelor
7066                 College
7067                Bachelor
7068                 College
7069                 College
Name: education, Length: 12074, dtype: object

In [118]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
state_mapping = {
    'Sports Car' : 'Luxury',  # Replace 'Sports Car' with 'Luxury'
    'Luxury SUV' : 'Luxury',  # Replace 'Luxury SUV' with 'Luxury'
    'Luxury Car' : 'Luxury',  # Replace 'Luxury Car' with 'Luxury' 
}

# Replace values in the 'vehicle_class' column using the mapping dictionary
df['vehicle_class'] = df['vehicle_class'].replace(state_mapping)
df['vehicle_class']

0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
7065    Four-Door Car
7066    Four-Door Car
7067    Four-Door Car
7068    Four-Door Car
7069     Two-Door Car
Name: vehicle_class, Length: 12074, dtype: object

In [119]:
# Cleaning the % in customer_lifetime_value
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%')
df['customer_lifetime_value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
7065           NaN
7066           NaN
7067           NaN
7068           NaN
7069           NaN
Name: customer_lifetime_value, Length: 12074, dtype: object

In [120]:
# Handle missing values by filling NaN with 0 (or any other appropriate value)
df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(0)  # Replace NaN with 0
df['customer_lifetime_value']

0                0
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
7065             0
7066             0
7067             0
7068             0
7069             0
Name: customer_lifetime_value, Length: 12074, dtype: object

In [121]:
# Change customer_lifetime_value data type
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

In [122]:
# Number of open complaints has an incorrect format.
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.lstrip('1/')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.rstrip('/00')
df['number_of_open_complaints']

0
1
2
3
4
       ...
7065    NaN
7066    NaN
7067    NaN
7068    NaN
7069    NaN
Name: number_of_open_complaints, Length: 12074, dtype: object

In [123]:
# Handle missing values by filling NaN with 0 (or any other appropriate value)
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)  # Replace NaN with 0
df['number_of_open_complaints']

0
1
2
3
4
       ..
7065    0
7066    0
7067    0
7068    0
7069    0
Name: number_of_open_complaints, Length: 12074, dtype: object

In [124]:
# I need to replace blank row values for 0 in my df
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace('', 0)
df['number_of_open_complaints'].value_counts()

number_of_open_complaints
0    11880
2       93
3       60
4       29
5       12
Name: count, dtype: int64

In [125]:
# Change customer_lifetime_value data type
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)

In [126]:
# Correct the data types of these columns
df['customer'] = df['customer'].astype('category')
df['state'] = df['state'].astype('category')
df['gender'] = df['gender'].astype('category')
df['education'] = df['education'].astype('category')
df['policy_type'] = df['policy_type'].astype('category')
df['vehicle_class'] = df['vehicle_class'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   category
 1   state                      9137 non-null   category
 2   gender                     9015 non-null   category
 3   education                  9137 non-null   category
 4   customer_lifetime_value    12074 non-null  float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  12074 non-null  int32
 8   policy_type                9137 non-null   category
 9   vehicle_class              9137 non-null   category
 10  total_claim_amount         9137 non-null   float64
dtypes: category(6), float64(4), int32(1)
memory usage: 931.0 KB

In [127]:
# Identify any columns with null or missing values. 
df.isnull().sum()

customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value         0
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [128]:
# Drop the rows or columns with null values
cleaned_df = df.dropna()
cleaned_df.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [129]:
cleaned_df.shape

(9015, 11)

In [131]:
# Deleting duplicates in the dataframe
cleaned_df.duplicated().sum()

7

In [132]:
# Remove duplicates and update the DataFrame
cleaned_df.drop_duplicates(inplace=True) # we know there are none but this is how we would do it
cleaned_df.duplicated().sum()

C:\Users\user\AppData\Local\Temp\ipykernel_10496\1412836199.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.drop_duplicates(inplace=True) # we know there are none but this is how we would do it

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here